@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  /* Background Colors */
  --color-background-primary: #182958;
  --color-background-secondary: #fff;

  /* Core Colors */
  --color-secondary: #fff;
  --color-icon-primary: #fff;

  /* Surface Colors */
  --color-surface-primary: #ffffff;
  --color-surface-secondary: #eeeeee;
  --color-surface-tertiary: #172554;

  /* Background (bg) Colors */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #fafafa;
  --color-bg-tertiary: #faf5f3;
  --color-bg-quaternary: #3b3b3b;

  /* Feedback Colors */
  --color-feedback-success: #16a34a;
  --color-feedback-error: #dc2626;
  --color-feedback-default: #8f8f8f;
  --color-feedback-disabled: #eeeeee;

  /* Footer Colors */
  --color-footer-fill-primary: #404040;

  /* Navbar Colors */
  --color-navbar-content-primary: #3b3b3b;
  --color-navbar-content-secondary: #ffffff;
  --color-navbar-fill-primary: #eeeeee;
  --color-navbar-fill-secondary: #e5e5e5;
  --color-navbar-fill-tertiary: #3b3b3b;

  /* Brand Colors */
  --color-brand-primary: #585660;
  --color-brand-secondary: #8f8f8f;
  --color-brand-tertiary: #eeeeee;

  /* Link Colors */
  --color-link-default: #1e3a8a;
  --color-link-hover: #1e3a8a;
  --color-link-pressed: #172554;
  --color-link-disabled: #8f8f8f;

  /* CTA Colors */
  --color-cta-fill-primary: #585660;
  --color-cta-fill-secondary: #0c0a09;
  --color-cta-fill-tertiary: #ffffff;
  --color-cta-fill-press: #262626;
  --color-cta-stroke-primary: #3b3b3b;
  --color-cta-stroke-secondary: #a9a6b4;
  --color-cta-stroke-tertiary: #eeeeee;
  --color-cta-stroke-disabled: #8f8f8f;
  --color-cta-content-primary: #e8e8e8;
  --color-cta-content-secondary: #3b3b3b;
  --color-cta-content-tertiary: #eeeeee;
  --color-cta-content-disabled: #8f8f8f;

  /* Stroke Colors */
  --color-stroke-primary: #3b3b3b;
  --color-stroke-secondary: #8f8f8f;
  --color-stroke-tertiary: #efedf3;

  /* Icon Colors */
  --color-icon-primary: #8f8f8f;
  --color-icon-secondary: #ffffff;
  --color-icon-tertiary: #1e3a8a;
  --color-icon-active: #585660;
  --color-icon-quaternary: #a9a6b4;

  /* Text Colors */
  --color-text-primary: #3b3b3b;
  --color-text-secondary: #ffffff;
  --color-text-tertiary: #a9a6b4;
  --color-text-quaternary: #737373;
}

.dark {
  --color-background-primary: #0c1221;
  --color-background-secondary: #333;

  /* Surface Colors */
  --color-surface-primary: #041c32;
  --color-surface-secondary: #444444;
  --color-surface-tertiary: #556677;

  --color-text-primary: #ffffff;
  --color-icon-primary: #fff;

  --color-brand-primary: #9996a0;

  /* Stroke Colors */
  --color-stroke-primary: #3b3b3b;
  --color-stroke-secondary: #bfdbfe;
  --color-stroke-tertiary: #efedf3;

  /* CTA Colors */
  --color-cta-fill-primary: #ffffff;
  --color-cta-content-primary: #0a0a0a;

  /* Feedback Colors */
  --color-feedback-success: #16a34a;
}
